<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
>
    <php>
        <ini name="error_reporting" value="-1"/>
    </php>

    <logging>
        <log type="coverage-html" target="./log/" lowUpperBound="50" highLowerBound="80" showUncoveredFiles="true" />
    </logging>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
            <exclude>
                <file>./src/helpers.php</file>
                <file>./src/System/Console/OutputFormatterStyle.php</file>

                <!-- Excluded since it is tested in corex/helpers. -->
                <file>./src/Arr.php</file>

                <!-- Excluded since it is tested in corex/helpers. -->
                <file>./src/Bag.php</file>

                <!-- Excluded since it is tested in corex/helpers. -->
                <file>./src/Obj.php</file>

                <!-- Excluded since it is tested in corex/helpers. -->
                <file>./src/Str.php</file>

                <!-- Excluded since it is tested in corex/helpers. -->
                <file>./src/StrList.php</file>

                <!-- Excluded since it is tested in corex/filesystem. -->
                <file>./src/System/Cache.php</file>

                <!-- Excluded since it is tested in corex/filesystem. -->
                <file>./src/System/Directory.php</file>

                <!-- Excluded since it is tested in corex/filesystem. -->
                <file>./src/System/File.php</file>

            </exclude>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="Tests">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
